{% extends "base.html" %}
{% block content %}

    
    
<main class="form-signin border">
  <form method="POST">
    {% csrf_token %}

    <h1 class="h3 mb-3 fw-normal">Login</h1>

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="email or usernaem" name=username>
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password'>
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-sm btn-primary" type="submit">Sign In</button>
</form>
<div class="border-top pt-3">
    <small class="text-muted">
        Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
    </small>
</div>

  </form>
</main>


    
{% endblock content %}












