{% extends "base.html" %}
{% block content %}
<main class="form-signin bg-dark">
    <form method="POST">
      {% csrf_token %}
  
      <h3 class="h3 mb-3 fw-normal text-white">Change Password</h3>
  
      <div class="form-floating mb-3 ">
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" required name="current_password">
        <label for="floatingInput" class="text-dark">Current Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required name='new_password'>
        <label for="floatingPassword" class="text-dark">New Password</label>
      </div>
  
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Confirm Password" required name='confirm_new_password'>
        <label for="floatingPassword" class="text-dark">Confirm New Password</label>
      </div>
  
      <button class="w-100 btn btn-sm btn-primary" type="submit">Change Password</button>
  
  </form>
  
  </main>
  

    
{% endblock content %}




