{% extends 'base.html' %}




{% block content %}
<div  class='p-2 bg-dark col-10 col-sm-10 col-md-10 m-auto' style="border-radius: 1em;">
         
  <p style='text-align:center; color:white'>Update Profile </p>
  <p style='text-align:center'>
  <img class="bd-placeholder-img  bg-dark text-center"  width="60%" height="140" src='{{profiles.image.url}}' alt='{{profiles.user.username}}' preserveAspectRatio="xMidYMid slice" focusable="false">
  </p>


<p class='p-2 ml-2 text-white' style="text-align: left; font-size:1em;">Username &nbsp: {{profiles.user.username}}</p>


<div class="p-2 pt-0" style="text-align: left;">
  <form method='POST' enctype="multipart/form-data">
  {% csrf_token %}
    <div class='mb-4'>
<h4 style='color:white; text-align:center; margin-bottom:1em'>Upload Image</h4>

    {{form.image}}
    </div>
    <button class="w-100 mb-2 btn btn-md rounded-4 btn-primary" type="submit">Update Profile</button>
   
  </form>
</div>





</div>

  </div>
</div>
</div>
</div>


{% endblock content %}


